@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;800&display=swap');
*{
    font-family: 'Mulish';
}


main{
    margin: 134px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav> ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 25px;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
}
nav li a{
    text-decoration: none;
    color: #424247;
}
.banner{
    width: 100%;
    height: 100vh;
    border-radius: 16px;
    background-image:url(../Images/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: center;
    justify-items: center;
    display: flex;
}

.banner-content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translate(-50);
    text-align: center;

}

/* Our Popular Tours */

.container{
    display: flex;
    margin-top: 20px;
    justify-content: center;
    margin-top: 100px;
    
}
.tours .card{
    margin-top:50px;
}

.tours .card li{
    margin-top: 24px;
}
.popular-pic img{
    margin-left: 40px;
    margin-top: 60px;
    height: 90%;
    border: 5px;
    color: #FF5400;
    border-radius: 16px;
}
.tours button{
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 800;
    margin-top: 23px;
}
/* why choose us section */

.secend-heder{
    text-align: center;
}
.choose-us{
    display: flex;
}

.bac-color1{
    
    flex-basis: 50%;
    border-radius: 6px;
    margin-bottom: 5%;
    text-align: center;
    padding: 24px;
    cursor: pointer;
    text-align: left;
    margin-left: 20px;
    margin-top: 50px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}
.bac-color1 img{
    height: 40px;
    margin-left:10px,
}
.bac-color2{
    flex-basis: 50%;
    border-radius: 6px;
    margin-bottom: 5%;
    text-align: center;
    padding: 24px;
    cursor: pointer;
    text-align: left;
    border-radius: 16px;
    margin-top: 50px;
    margin-left: 20px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    
}
.bac-color2 img{
    height: 40px;
    margin-left:10px,
}

.bac-color3{
    flex-basis: 50%;
    border-radius: 6px;
    margin-bottom: 5%;
    text-align: center;
    padding: 24px;
    cursor: pointer;
    text-align: left;
    margin-top:50px ;
    margin-left: 20px;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}
.bac-color3 img{
    height: 40px;
    margin-left:10px,
}
.header-size{
    color: #131318;
    font-size: 1.50rem;
    font-weight: 800;
} 
.primery-p{
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
}
/*CHOOSEC YOUR DESTINATION */
.section-title{
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
}
.container .tours-blog .card{
    font-size: 1rem;
    font-weight: 400;
    align-items: center;

}
 .Images-ret img{
    margin-top: 50px;
    height: 90%;
    margin-left:105px;
    
}
/*  choche our destination */
.choose-destination{
    display: flex;
    text-align: center;
    justify-content: center;
}
.destination-section .part1 img{
    margin: 20px;

}










@media screen and (max-width:576px){
    main{
        margin: 5px;
    }
     
    nav, nav> ul,.banner,.container,.choose-us,.choose-destination{
        flex-direction: column;
    }

    .popular-pic{
        width: 100%;
        margin-left: 0;
        margin-top: 0px;
    }
     
    .tours button{
        margin-left: 20px;
    }
    .popular-pic img{
        margin-top: 20px;
        width: 370px;
        height: 342px;
        margin-left: 0;
    }




    nav li{
        margin-right: 0;
    }

    .Images-ret img{
        margin-top: 50px;
        height:100% ;
        margin:auto;
    }    

    .destination-section .part1 img{
        margin: auto;

    }
    .destination-section .img5{
        width: 335px;
        height: 300p
    }
    .destination-section .part1 img{
        width: 380px;
        height: 300px;
        margin-top: 12px;

 
    }
}
    









    



    


  